* {
    border: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #FDFCFC;
    color: #1A1A1A;
    background-image: url("Imagens/background_galery_img.svg");
    background-size: cover;
    background-repeat: no-repeat;
  }

/*  ANITA MALFATTI - NAVBAR  */
.navbar {
    align-items: center;
    display: flex;
    font-family: "mundial", sans-serif !important;
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 400;
    height: 5.75rem;
    justify-content: space-between;
    padding: 0 3.625rem;
    width: 100%;
    position: fixed;
    background-color: #FDFCFC;
}

.navbar .logo {
    align-items: center;
    display: flex;
}

.navbar .menu {
    align-items: center;
    display: flex;
    gap: 3.938rem;
}

.menu_home:hover,
.menu_biografia:hover,
.menu_galeria:hover,
.menu_timeline:hover {
    color: #D49634 !important;
    cursor: pointer;
    text-decoration: underline;
}

/* TÍTULO  E SUBTÍTULO DA GALERIA*/
.grid_title {
    display: grid;
    grid-template-columns: 0.45fr 1fr 0.45fr;
    grid-template-rows: 2fr 2fr 2fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.title {
    align-items: center;
    font-family: "mundial", sans-serif !important;
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    grid-area: 2 / 2 / 3 / 3;
    letter-spacing: 0.02em;
    line-height: 32px;
    line-height: 4rem;
    text-align: center !important;
}

/*  ANITA MALFATTI - GRID*/
.grid_conteudo {
display: grid;
grid-template-columns: 0.45fr 0.3fr  0.45fr 1fr 0.1fr 0.8fr 0.1fr 0.1fr;
grid-template-rows: 0.1fr 0.45fr 0.1fr 0.1fr 0.1fr 1fr 0.1fr 0.45fr;
grid-column-gap: 85px;
grid-row-gap: 15px;
}

/*  ANITA MALFATTI - TITULO*/
.titulo {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  align-items: center;
  letter-spacing: 0.02em;
  margin-top: 1%;
}

#titulo_01 { 
  grid-area: 1 / 4 / 2 / 7; 
}

#titulo_02 { 
  grid-area: 3 / 4 / 4 / 7; 
}

/*  ANITA MALFATTI - TEXTO */

.texto {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  align-items: center;
  letter-spacing: 0.02em;
  color: #1A1A1A;
  align-self:center;
  margin-left: 2%;
}

#texto_01 { 
   grid-area: 2 / 4 / 2 / 7; 
}

#texto_02 { 
  grid-area: 4 / 4 / 5 / 7; 
}

#texto_03 { 
  grid-area: 6 / 7 / 6 / 6; 
}

#texto_04 { 
  grid-area: 8 / 2 / 9 / 4;
  text-align:center;
}

/*  ANITA MALFATTI - IMAGENS */
.quadro_boba { 
  grid-area: 1 / 2 / 8 / 4;
  padding: 0.625rem;
  border: solid;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.foto_mulher { 
  grid-area: 6 / 4 / 7 / 6; 
  align-self:center;
}

.background
{ grid-area: 10 / 1 / 12 / 8; 
}

/*  ANITA MALFATTI - LINHAS */
.linha {
     content: '';
    display: block;
    background: #1A1A1A;
    margin-left: 44.2%;
    width: 64%;
    height: 2px;
    transform: translateY(-50%);
    align-self: center;
    z-index: 2;
}

#linha_01{
  grid-area: 5 / 1 / 5 / 7; 
}

#linha_02 { 
  grid-area: 7 / 1 / 7 / 7; 
}

/*Responsividade*/
@media (max-width: 920px) {
  
  /*Responsividade da Navbar*/
  .navbar .menu {
      gap: 20px;
      font-family: mundial,sans-serif;
      font-size: 17px;
      font-weight: 400;
      margin-left: 5px;
  }
  
  .navbar {
    padding-left: 20px;
    padding-right: 20px;
    justify-content: center;
  }
  
  .navbar .logo {
      padding-left: 5px;
      padding-right: 5px;
      justify-items: center;
  }

  .quadro_boba{
    display: block;
    width: 100%;
    height: auto;
  }
}
  
/*  ANITA MALFATTI - FOOTER */
footer{
  background-color: #1A1A1A;
  font-family: 'Mundial';
  font-style: normal;
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 32px;
  color: #FDFCFC;
}